<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--定义任务器-->
    <bean id="jobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="quartzJob"/>
        <property name="targetMethod" value="runJob"/>
        <property name="concurrent" value="false"/>
    </bean>
    <!-- https://www.cnblogs.com/beppezhang/p/6293471.html -->
    <!-- https://www.cnblogs.com/chen-lhx/p/5581129.html -->
    <!-- https://blog.csdn.net/lchq1995/article/details/78222528 -->
    <bean id="quartzJob" class="bz.beppe.javase.QuartzJob"/>

    <!--定义触发器-->
    <bean id="simpleTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean">
        <!-- see the example of method invoking job above -->
        <property name="jobDetail" ref="jobDetail"/>
        <!-- 10 seconds -->
        <property name="startDelay" value="1000"/>
        <!-- repeat every 50 seconds -->
        <property name="repeatInterval" value="3000"/>
    </bean>
    <!--注册任务器和触发器到schedule中-->
    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <!-- <ref bean="cronTrigger"/> -->
                <ref bean="simpleTrigger"/>
            </list>
        </property>
    </bean>
</beans>